.header__logo {
  background: url('../../../images/logo.svg') 0 0 no-repeat;
  background-size: contain;
  margin: 0;
  max-width: 142px;
  min-height: 33px;
}

@media (max-width: 800px) {
  .header__border {
    margin: 0;
  }
}

@media (max-width: 621px) {
  .header__logo {
    margin: 0 0 0 27px;
    max-width: 104px;
    min-height: 24px;
  }
}
